<section id="content-footer" class="content-footer">
  <div class="footer-top">
    <div class="contact-info">
      <h3>CONTÁCTANOS.</h3>
      <p>
        <i class="fa-solid fa-envelope"></i>
        <a href="mailto:ventas@nutraadvance.us">ventas@nutraadvance.us</a>
      </p>
      <p>
        <i class="fa-solid fa-envelope"></i>
        <a href="mailto:reclamos@nutraadvance.us">reclamos@nutraadvance.us</a>
      </p>
      <p>
        <i class="fa-brands fa-whatsapp"></i>
        <a href="https://wa.me/51913181648">+51 913 181 648</a>
      </p>
    </div>

    <div class="social-icons">
      <h3>REDES SOCIALES</h3>
      <div class="icons-row">
        <a href="https://facebook.com" title="Facebook" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a
          href="https://instagram.com/TU_USUARIO"
          title="Instagram"
          target="_blank"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://tiktok.com/@TU_USUARIO" title="TikTok" target="_blank">
          <i class="fa-brands fa-tiktok"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p class="copyright">
      &copy; <span id="current-year"></span> NutraAdvance US. Todos los derechos
      reservados.
    </p>
  </div>
</section>
